.font-size-line {
	font-size: 1.5em;
}

h1, a, .mood_options_lane{
	font-family: montserrat, helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}

a:hover{
	color: white;
	text-decoration: none;
}