/*----BOTTOM LINE----*/

.mood_view_bottom{
	width: 100%;
	color: #434343;
	text-align: center;
	margin: 0%;
}

.mood_view_bottom_icon{
	cursor: pointer;
	padding-top: 1%;
}

/* BOTSTRAP ADAPTIONS*/

.container{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

/*----MOOD LANES VIEW----*/

.mood_view{
	width: 100%;
}

.mood {
	width: 100%;
	float: left;
	color: #434343;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	cursor: pointer;
	margin: 0%;
}

.mood_stable{
	background-color: green;	
}

.mood_fine{
	background-color: yellow;	
}

.mood_ok{
	background-color: orange;
}

.mood_dizzy{
	background-color: purple;
	color: white;
}

.mood_bad{
	background-color: red;
}

/*----MOOD OPTIONS VIEW----*/

.mood_options_view{
	text-align: center;
	display: none;
}

.mood_options_lane{
	width: 100%;
	color: #434343;
	margin-bottom: 1%;
}

.mood_option_left,.mood_option_right{
	
}

.mood_option_left{
	text-align: right;
}

.mood_option_right{
	text-align: left;
}

/*----MOOD STATS VIEW----*/

.moot_stats_view{
	width: 100%;
}