/*----BOTTOM LINE----*/

.mood_view_bottom{
	width: 100%;
	color: #434343;
	text-align: center;
}

.mood_view_bottom_icon{
	width: auto;
	float: left;
	padding: 1%;
	width: 33.3%;
	cursor: pointer;
}

/* BOTSTRAP ADAPTIONS*/

.containers{
	padding-left: 0px;
	padding-right: 0px;
}

/*----MOOD LANES VIEW----*/

.mood_view{
	xwidth: 100%;
	xheight: 100%;
}

.mood {
	width: 100%;
	xheight: 90px;
	float: left;
	color: #434343;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	cursor: pointer;
}

.mood_stable{
	background-color: green;	
}

.mood_fine{
	background-color: yellow;	
}

.mood_ok{
	background-color: orange;
}

.mood_dizzy{
	background-color: purple;
	color: white;
}

.mood_bad{
	background-color: red;
}

/*----MOOD OPTIONS VIEW----*/

.mood_options_view{
	text-align: center;
	display: none;
}

.mood_options_lane{
	width: 100%;
	color: #434343;
	margin-bottom: 1%;
}

.mood_option_left,.mood_option_right{
	
}

.mood_option_left{
	text-align: right;
}

.mood_option_right{
	text-align: left;
}